
@{
    //ViewBag.Ico = "../../Image/ico/chinaso.ico";
    ViewBag.Title = "数据搜索 - 让数据搜索更简单";
    ViewBag.Keywords = "微信指数,百度指数,微指数,淘宝指数,指数,电影指数,票房数据,医药数据,泄露数据,数据搜索,元数据";
    ViewBag.Description = "数据搜索——科布尔出品!为数据控、学术汪、特殊癖好者提供多种多样而又快速便捷的元数据搜索渠道,是你的数据搜索第一站!";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
<ul id="foo" class="chongbuluo">
    <li id="wechat"><img src="https://res.wx.qq.com/mpres/htmledition/images/favicon218877.ico" /><a data="http://bbs.chongbuluo.com/wechat.html">微信指数</a></li>
    <li id="baidu"><img src="http://index.baidu.com/favicon.ico" /><a data="http://index.baidu.com/">百度指数</a></li>
    <li id="weibo"><img src="http://data.weibo.com/favicon.ico" /><a data="http://data.weibo.com/index">微指数</a></li>
    <li id="1688"><img src="http://gtms02.alicdn.com/tps/i2/TB1Den5HpXXXXbwXVXXjznUFXXX-16-16.ico" /><a data="http://index.1688.com/">阿里指数</a></li>
    <li id="youku"><img src="http://index.youku.com/3-2/img/favicon_index.ico" /><a data="http://index.youku.com/">视频指数</a></li>
    <li id="sogou"><img src="http://logo.www.sogou.com/images/logo2014/new/favicon.ico" /><a data="http://zhishu.sogou.com/">搜狗指数</a></li>
    <li id="bitauto"><img src="http://www.bitauto.com/favicon.ico" /><a data="http://datamodel.bitauto.com/">汽车指数</a></li>
    <li id="gov"><img src="http://data.stats.gov.cn/images/favourite.ico" /><a data="http://data.stats.gov.cn/">国家数据</a></li>
    <li id="talkingdata"><img src="http://www.talkingdata.com/favicon.ico" /><a data="http://www.talkingdata.com/index/#/mobileIndex/zh_cn">移动观象台</a></li>
    <li id="cbooo"><img src="http://www.cbooo.cn/favicon.ico" /><a data="http://www.cbooo.cn/">票房数据</a></li>
    <!--<li id="nsfc"><img src="http://or.nsfc.gov.cn/nsfc.ico" /><a data="http://or.nsfc.gov.cn/">自然科学</a></li>-->
    <li id="norsecorp"><img src="http://map.norsecorp.com/favicon.ico" /><a data="http://map.norsecorp.com/">网络攻击</a></li>
    <li id="360"><img src="http://vis.360.cn/img/favicon.ico" /><a data="http://vis.360.cn/open/fishsite/">网络诈骗</a></li>
    <li id="tecent"><img src="http://3gimg.qq.com/tencentMapTouch/lbs/qqmap_big_data/images/favicon.ico" /><a data="http://heat.qq.com/qianxi.php">腾讯位置大数据</a></li>
    <li id="amap"><img src="http://report.amap.com/favicon.ico" /><a data="http://report.amap.com/">城市交通</a></li>
    <li id="sfda"><img src="http://www.cherry.cn/favicon.ico" /><a data="http://app2.sfda.gov.cn/~/Search/Datap/gzcxSearch.do">食品药品</a></li>
    <li id="yaozh"><img src="http://www.yaozh.com/favicon.ico" /><a data="http://db.yaozh.com/">药智数据</a></li>
    <li id="daimugua"><img src="http://index.baidu.com/favicon.ico" /><a data="http://trends.baidu.com/ncee">高考预测</a></li>
    <li id="iqiyi"><img src="http://ww4.sinaimg.cn/large/b1601727gw1ezq5yrisymj200w00wwe9.jpg" /><a data="http://index.iqiyi.com/">爱奇艺指数</a></li>
    <li id="tongji"><img src="http://tongji.baidu.com/favicon.ico" /><a data="http://tongji.baidu.com/data/district">百度统计</a></li>
    <li id="nasdaq"><img src="http://www.nasdaq.com/images/qfav.ico" /><a data="http://www.nasdaq.com/zh">纳斯达克指数</a></li>
    <li id="umindex"><img src="http://www.umindex.com/images/favicon.ico" /><a data="http://www.umindex.com/">友盟指数</a></li>
    <li id="nsii"><img src="http://www.verycd.com/favicon.ico?v=2" /><a data="http://www.nsii.com.cn/">标本</a></li>
    <li id="cfh"><img src="http://www.cfh.ac.cn/favicon.ico" /><a data="http://www.cfh.ac.cn/Spdb/spsearch.aspx?aname=&AspxAutoDetectCookieSupport=1">物种</a></li>
    <li id="qgtong"><img src="http://www.qgtong.com/favicon.ico" /><a data="http://www.qgtong.com/so/Search.asp">海关百搜</a></li>
    <li id="iso315"><img src="http://ww3.sinaimg.cn/large/b1601727gw1ezpvccma4kj202g02gt8l.jpg" /><a data="http://www.iso315.com/">防伪数据</a></li>
    <li id="openlaw"><img src="http://static.07law.com/common/images/logo/openlaw/blue/16.png" /><a data="http://openlaw.cn/">OpenLaw</a></li>
</ul>