
@{
    //ViewBag.Ico = "../../Image/ico/chinaso.ico";
    ViewBag.Title = "图片搜索 - 让图片搜索更简单";
    ViewBag.Keywords = "图标搜索,图片搜索,谷歌图片,百度识图,矢量图搜索,字体识别,素材搜索,图象识别";
    ViewBag.Description = "科布尔出品！为 P图党、美工、设计师提供图标素材、图片识别以及创意灵感等搜索服务，是你的上网搜索第一站！";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
<ul id="foo" class="chongbuluo">
    <li id="easyicon"><img src="http://cdn-img.easyicon.net/favicon.ico" /><a data="http://www.easyicon.net/">EasyIcon</a></li>
    <li id="gaoqing"><img src="http://www.gaoimg.com/favicon.ico" /><a data="http://www.gaoimg.com/">高清图片</a></li>
    <li id="sougou"><img src="http://logo.www.sogou.com/images/logo2014/new/favicon.ico" /><a data="http://sucai.sogou.com/">搜狗素材</a></li>
    <li id="tuyu"><img src="http://www.hituyu.com/favicon.png" /><a data="http://www.hituyu.com/">网页背景</a></li>
    <li id="pixabay"><img src="http://7q5dsg.com1.z0.glb.clouddn.com//favicon/pixabay/favicon.png" /><a data="https://pixabay.com/">Pixabay</a></li>
    <li id="hei"><img src="http://www.baidu.com/favicon.ico" /><a data="http://shitu.baidu.com/">百度识图</a></li>
    <li id="ninja"><img src="http://www.iconninja.com/public/css/favicon.ico" /><a data="http://www.iconninja.com/">Icon Ninja</a></li>
    <!--<li id="google"><img src="http://7q5dsg.com1.z0.glb.clouddn.com/favicon/favicon.ico"><a data="https://ggso.in/imghp" target="_blank">谷歌图搜</a></li>-->
    <li id="vector"><img src="http://vector.me/static/images/favicon.ico" /><a data="http://vector.me/">Vector</a></li>
    <li id="findicons"><img src="http://findicons.com/favicon.ico" /><a data="http://findicons.com/">FindIcons</a></li>
    <li id="iconfont"><img src="http://www.iconfont.cn/favicon.ico" /><a data="http://www.iconfont.cn/" target="_blank">IconFont</a></li>
    <li id="iconarchive"><img src="http://www.iconarchive.com/favicon-16x16.png" /><a data="http://www.iconarchive.com/">IconArchive</a></li>
    <li id="freeimages"><img src="http://images.freeimages.com/static/images/favicon/32x32.png" /><a data="http://cn.freeimages.com/">FreeImages</a></li>
    <li id="pngimg"><img src="http://pngimg.com/favicon.ico" /><a data="http://pngimg.com/img/vegetables">透明素材</a></li>
    <li id="veryicon"><img src="http://www.veryicon.com/favicon.ico" /><a data="http://www.veryicon.com/">VeryIcon</a></li>
    <li id="foter"><img src="http://foter.com/img/favicon.ico" /><a data="http://foter.com/">Foter</a></li>
    <li id="picfindr"><img src="http://vector.me/static/images/favicon.ico" /><a data="http://www.picfindr.com/">PicFindr</a></li>
    <li id="incogna"><img src="http://www.incogna.com/favicon.ico" /><a data="http://www.incogna.com/#random">Incogna</a></li>
    <li id="visualhunt"><img src="http://7q5dsg.com1.z0.glb.clouddn.com//favicon/visualhunt/favicon.ico" /><a data="http://visualhunt.com/">VisualHunt</a></li>
    <li id="freepik"><img src="http://www.freepik.com/favicon.png" /><a data="http://www.freepik.com/">Freepik</a></li>
    <li id="ui-cloud"><img src="http://ui-cloud.com/favicon.ico" /><a data="http://ui-cloud.com/">UICloud</a></li>
    <li id="saucenao"><img src="http://saucenao.com/favicon.ico" /><a data="http://saucenao.com/">SauceNAO</a></li>
    <li id="icons8"><img src="https://maxst.icons8.com/favicon.ico" /><a data="https://icons8.com/">Icons8</a></li>
    <li id="ascii2d"><img src="https://ascii2d.net/assets/favicon-461e7af86f6c1a73f716cf8c729e65d6164851b66470932d01ef928ebbaed6ba.ico" /><a data="https://ascii2d.net/" target="_blank">动漫反向搜索</a></li>

</ul>