
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://www.kebue.com//images/kebue.ico">
    <link rel="icon" href="http://www.kebue.com//images/kebue.ico">
    <title>老司机导航</title>
    <meta name="keywords" content="老司机,网址导航,科布尔出品" />
    <meta name="Description" content="科布尔旗下导航网站，less is more ，推送精品，人人都可速成飙车老司机" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Content/Navigation/js/jBox.min.js"></script>
    <link href="~/Content/Navigation/css/basic.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div col-sm-2></div>
                <div col-sm-8>
                    <div class="row">
                        <div class="col-sm-6">
                            <iframe width="350" scrolling="no" height="25" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&amp;id=40&amp;icon=1&amp;num=3"></iframe>
                        </div>
                        <div class="col-sm-6">
                            <a href="http://www.kebue.com" target="_blank"><i style="color:#E6162D" class="glyphicon glyphicon-flag"></i> 科布尔首页</a> &nbsp;|&nbsp;
                            <a href="~/Home/Index" target="_blank"><i style="color:#F22152" class="glyphicon glyphicon-search"></i> 快搜</a> &nbsp;|&nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="margin:0 auto; width:750px;">
                                <div class="contentWrap film" style="margin-left:auto;margin-right:auto">
                                    <div class="urlWrap">
                                        <dl class=hb>
                                            <dd class=bg><span><a href="https://www.douban.com/doulist/240962/" target="_blank">豆瓣高分</a></span><span><a href="http://movie.mtime.com/all/list/" target="_blank">时光榜单</a></span><span><a href="https://www.zhihu.com/topic/19556784/top-answers" target="_blank"><i style="color:#0F88EB" class="fa fa-diamond"></i> 知乎精华</a></span><span><a href="http://www.mvcat.com/" target="_blank">MVCAT</a></span>推荐</dd>
                                            <dd><span><a href="http://www.1080.net/" target="_blank">1080P</a></span><span><a href="https://rarbg.to/torrents.php?category=movies" target="_blank">RARBG</a></span><span><a href="http://www.i1080.cn/" target="_blank">艾米电影</a></span><span><a href="http://www.languangwang.org/" target="_blank">蓝光网</a></span>高清</dd>
                                            <dd class=bg><span><a href="http://videos.yizhansou.com/" target="_blank">一站搜</a></span><span><a href="http://tv.sohu.com/drama/us/" target="_blank">搜狐</a></span><span><a href="http://v.qq.com/tv/yingmei/" target="_blank">腾讯</a></span><span><a href="http://moviesunusa.net/%E7%BE%8E%E5%8A%87%E5%88%97%E8%A1%A8/" target="_blank">美劇線上看</a></span>美剧</dd>
                                            <dd><span><a href="http://www.subom.net/newsubs" target="_blank">Subom</a></span><span><a href="http://www.zimuku.net/" target="_blank">字幕库</a></span><span><a href="http://r3sub.com/" target="_blank">R3字幕網</a></span><span>
                                                </span>字幕</dd>
                                            <dd class=bg><span><a href="https://bangumi.moe/" target="_blank">萌番组</a></span><span>
                                                <a href="http://www.dongman.fm/" target="_blank">动漫 FM</a></span><span>
                                                <a href="http://donghua.dmzj.com/" target="_blank">动漫之家</a></span><span>
                                                </span>动漫</dd>
                                            <dd><span><a href="http://movie.mtime.com/movie/search/section/" target="_blank">全球影料库</a></span><span><a class="tooltip" title="一个关于电影演员、电影、电视节目、电视明星和电影制作的在线数据库，隶属于亚马逊公司旗下" href="http://www.imdb.com/" target="_blank"><i style="color:#E3B71E" class="fa fa-imdb"></i> IMDb</a></span><span><a href="https://movie.douban.com/" target="_blank">豆瓣电影</a></span><span><a href="https://www.rottentomatoes.com/" target="_blank">烂番茄</a></span>资料</dd>
                                            <dd class=bg><span><a href="http://www.jlpcn.net/" target="_blank">纪录片天地</a></span><span><a href="http://jishi.cctv.com/" target="_blank">CCTV 纪实</a></span><span><a href="http://docuwiki.net/index.php?title=Category:BBC" target="_blank">BBC 英文</a></span><span><a class="tooltip" title="盗火网 是一个线上纪录片资料库。你可以搜寻并查询全球纪录片的相关资讯。如果你对纪录片不熟，这里会是个危险的地方，因为你将很快地沉迷在其中。" href="http://www.daofire.com/" target="_blank">盗火</a></span>记录</dd>
                                            <dd><span>
                                                </span><span><a href="http://www.bdsola.com/" target="_blank">百度云</a></span><span></span>搜索</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="contentWrap eBook">
                                    <div class="urlWrap">
                                        <dl class=hb>
                                            <dd class=bg><span>
                                                <a href="http://www.pixeden.com/" target="_blank">Pixeden</a></span><span><a href="http://cn.365psd.com/" target="_blank">365PSD</a></span><span class="tooltip" title="UI搜索引擎，设计师必备，提供用户界面PSD下载"><a href="http://ui-cloud.com/" target="_blank">UICloud</a></span>素材</dd>
                                            <dd><span><a href="https://www.pexels.com/" target="_blank">Pexels</a></span><span>
                                                </span><span><a class="tooltip" title="免费可商用的高清图库网站，分类非常详细" href="http://cn.forwallpaper.com/" target="_blank">ForWallpaper</a></span><span><a class="tooltip" title="最出色的摄影社区，2003年创立于加拿大。致力于摄影分享、发现、售卖的专业平台，汇集了来自世界各地的摄影师" href="https://500px.com/popular" target="_blank"><i style="color:#3F3F3F" class="fa fa-500px"></i> 500px</a></span>图库</dd>
                                            <dd class=bg><span><a href="http://zhongguose.com/" target="_blank">中国传统色</a></span><span><a href="http://www.shejidaren.com/examples/tools/color-scheme/" target="_blank">在线配色</a></span><span><a href="http://nipponcolors.com/" target="_blank">日本传统色</a></span><span><a href="https://color.adobe.com/zh/create/color-wheel/" target="_blank">Adobe</a></span>配色</dd>
                                            <dd><span><a href="http://www.uiparade.com/" target="_blank">UI阅兵场</a></span><span><a href="http://www.ui.cn/" target="_blank">UI中国</a></span><span><a href="https://www.behance.net/" target="_blank"><i style="color:#0056FF" class="fa fa-behance"></i> Behance</a></span><span><a class="tooltip" title="设计师必去站点，国内顶尖的设计师都在上面" href="https://dribbble.com/" target="_blank"><i style="color:#EA4C89" class="fa fa-dribbble"></i> Dribbble</a></span>界面</dd>
                                            <dd class=bg><span><a href="http://wordmark.it/" target="_blank">预览本地字体</a></span><span>
                                                </span><span><a href="http://www.dafont.com/" target="_blank">DaFont</a></span><span><a href="http://www.17ziti.com/" target="_blank">字体之家</a></span>字体</dd>
                                            <dd><span><a href="https://www.zhihu.com/topic/19556231" target="_blank">知乎话题</a></span><span><a href="http://fff.cmiscm.com/" target="_blank">FFF</a></span><span><a href="http://littlebigdetails.com/" target="_blank">Little Big Details</a></span><span><a href="http://codepen.io/" target="_blank">代码笔</a></span>交互</dd>
                                            <dd><span><a href="https://www.zhihu.com/topic/19556183/top-answers" target="_blank">知乎精华</a></span><span><a href="http://huaban.com/" target="_blank">花瓣</a></span><span><a href="http://theinspirationgrid.com/" target="_blank">Inspiration Grid</a></span><span><a href="https://www.pinterest.com/categories/design/" target="_blank"><i style="color:#BD081C" class="fa fa-pinterest"></i> Pinterest</a></span>灵感</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="contentWrap soft">
                                    <div class="urlWrap">
                                        <dl class=hb>
                                            <dd class=bg><span><a href="http://www.zdfans.com/" target="_blank">zdfans</a></span><span><a href="https://www.portablesoft.org/downloads/" target="_blank">绿色便携</a></span><span><a class="tooltip" title="提供包括操作系统、开发工具等微软原版软件下载" href="http://msdn.itellyou.cn/" target="_blank"><i style="color:#29A0FC" class="fa fa-windows"></i> MSDN</a></span><span><a href="http://love.appinn.com/" target="_blank">小众软件榜</a></span>电脑</dd>
                                            <dd><span><a href="http://sspai.com/" target="_blank">少数派</a></span><span><a href="http://sspai.com/36401" target="_blank">Google Play</a></span><span><a href="http://sspai.com/36460" target="_blank">App Store</a></span><span><a href="http://www.wandoujia.com/award" target="_blank">豌豆荚设计奖</a></span>手机</dd>
                                            <dd class=bg><span><a href="https://www.zhihu.com/topic/20061410/top-answers" target="_blank">知乎精华</a></span><span><a href="http://9.cn/" target="_blank">第九程序</a></span><span><a href="https://minapp.com/miniapp/" target="_blank">知晓程序</a></span><span>
                                                </span>程序</dd>
                                            <dd><span>
                                                </span><span><a href="https://www.zhihu.com/topic/19559873/top-answers" target="_blank">知乎精华</a></span><span><a href="http://forum.mobilism.org/index.php" target="_blank">Mobilism</a></span><span><a href="http://www.52pojie.cn/" target="_blank">吾爱破解</a></span>社区</dd>
                                            <dd class=bg><span><a href="http://chromecj.com/" target="_blank"><i style="color:#129E5A" class="fa fa-chrome"></i> 插件</a></span><span><a href="http://app.hustonline.net/" target="_blank">大软坊</a></span><span><a href="http://www.iplaysoft.com/" target="_blank">异次元</a></span><span><a href="http://www.mac52ipod.cn/" target="_blank"><i style="color:#254C72" class="fa fa-apple"></i> fans</a></span>博客</dd>
                                            <dd><span><a href="http://www.pccppc.com/" target="_blank">小马激活</a></span>激活</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="contentWrap onlineTool">
                                    <div class="urlWrap">
                                        <dl class=hb>
                                            <dd class=bg><span><a href="http://www.zamzar.com/" target="_blank">ZAMZAR</a></span><span><a href="https://cn.epubee.com/" target="_blank">格式转换</a></span><span><a href="https://kindlefere.com/tools" target="_blank">工具箱</a></span><span><a href="https://github.com/qq573011406/KindleHelper/releases" target="_blank">下载器</a></span>工具</dd>
                                            <dd><span><a href="http://www.shuduoduo.me/" target="_blank">书多多</a></span><span><a href="http://gen.lib.rus.ec/" target="_blank">Library Genesis</a></span><span>
                                              </span>搜索</dd>
                                            <dd class=bg><span><a href="http://www.kindle10000.com/forum.php" target="_blank">万读论坛</a></span><span><a href="https://www.zhihu.com/topic/19552444" target="_blank">知乎索引</a></span><span><a href="https://kindlefere.com/" target="_blank">Kindle伴侣</a></span><span><a href="https://kindleren.com/forum.php" target="_blank">Kindle人</a></span>社区</dd>
                                            <dd class=bg><span><a href="http://www.pdfdrive.com/" target="_blank">PDFDRIVE</a></span><span><a class="tooltip" title="古腾堡工程(Project Gutenberg，常简写作PG)肇始于1971年，是最早的数字图书馆。其中的大部分书籍都是公有领域书籍的原本，古腾堡工程确保这些原本自由流通、格式开放，有利于长期保存，并可在各种计算机上阅读。" href="http://www.gutenberg.org/" target="_blank">Gutenberg</a></span><span><a class="tooltip" title="一个自由开放的在线古籍图书馆，并提供下载。" href="https://shuge.org/" target="_blank">书格</a></span><span><a class="tooltip" title="好读网站是一个致力于推广中文电子书的公益网站，从2001年建站迄今不断努力不断贡献的成果。免费提供中文直式阅读软件、自制电子书，整理校正过的好书。" href="http://www.haodoo.net" target="_blank">好讀</a></span>推荐</dd>
                                            <dd><span><a href="http://mooc.guokr.com/" target="_blank">mooc学院</a></span><span><a href="https://www.jisuanke.com/" target="_blank">计蒜客</a></span><span><a href="http://study.163.com/" target="_blank">网易云课堂</a></span><span><a href="https://www.coursera.org/" target="_blank">Coursera</a></span>网校</dd>
                                            <dd class=bg><span><a href="http://www.xdf.cn/" target="_blank">新东方</a></span><span><a class="tooltip" title="最全的脱口秀视频更新网站。提供最新的囧司徒每日秀、扣扣熊报告、单口秀、雷雷秀、吉米鸡毛秀、柯南秀、大下巴今夜秀、莱特曼深夜秀、彪马实时秀、吉米肥伦秀、艾伦秀的视频播放和下载。" href="https://www.talkshowcn.com/" target="_blank">美式脱口秀</a></span><span><a href="http://tv.baicizhan.com/" target="_blank">单词TV</a></span><span><a href="http://class.hujiang.com/" target="_blank">沪江网</a></span>英语</dd>
                                            <dd><span><a href="http://so.kebue.com/Search/Scholar" target="_blank">学术搜索</a></span><span>
                                                <a href="http://muchong.com/" target="_blank">小木虫</a></span>科研</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="contentWrap source">
                                    <div class="urlWrap">
                                        <dl class=hb>
                                            <dd class=bg><span><a href="https://developers.google.cn/" target="_blank"><i style="color:#4285F4" class="fa fa-google"></i> 开发者</a></span><span><a href="http://123.w3cschool.cn/webtools" target="_blank">W3Cschool</a></span><span><a href="http://tool.lu/" target="_blank">程序员工具箱</a></span><span><a href="http://tool.oschina.net/" target="_blank">开源中国</a></span>开发</dd>
                                            <dd><span><a href="http://prettydiff.com/" target="_blank">文档比对</a></span><span><a href="http://www.txttool.com/" target="_blank">TXT文本</a></span><span><a href="http://cn.office-converter.com/" target="_blank">全能转换</a></span><span><a href="https://smallpdf.com/" target="_blank">smallPDF</a></span>文档</dd>
                                            <dd class=bg><span><a href="https://apiv.ga/magnet/" target="_blank"><i style="color:#03CBC9" class="fa fa-magnet"></i> 九秒磁力云播</a></span><span><a href="http://www.ibilibili.com/" target="_blank">B站下载</a></span><span><a href="http://www.xiamiaopai.com/" target="_blank"><i style="color:#E62117" class="fa fa-weibo"></i> 秒拍</a></span><span><a href="http://www.clipconverter.cc/" target="_blank"><i style="color:#E62117" class="fa fa-youtube"></i> 下载</a></span>视频</dd>
                                            <dd><span><a href="http://www.uupoop.com/" target="_blank">Ps精简版</a></span><span><a href="http://xiuxiu.web.meitu.com/main.html" target="_blank">美图秀秀在线</a></span><span><a class="tooltip" title="在线将动漫风格的图片放大或清晰处理，当然，被压缩得很严重的照片也会在一定程度上还原本貌！" href="http://waifu2x.udp.jp/" target="_blank">高保真放大</a></span><span><a href="https://tinypng.com/" target="_blank">TinyPNG</a></span>图片</dd>
                                            <dd class=bg><span><a href="http://www.tiantianzhibo.net/" target="_blank">天天直播</a></span><span><a href="http://www.21ytv.com/folder41/folder42/folder313/" target="_blank">芒果台</a></span><span><a href="http://tv.cctv.com/live/cctv5/" target="_blank">CCTV</a></span><span><a href="https://tv.empire.net.cn/" target="_blank">巨硬</a></span>电视</dd>
                                            <dd><span></span><span><a href="http://www.soogif.com/editor" target="_blank">GIF制作</a></span><span><a href="http://www.soogif.com/compress" target="_blank">GIF压缩</a></span><span><a href="http://www.piggif.com/tools/video" target="_blank">视频转GIF</a></span>GIF</dd>
                                            <dd class=bg><span><a class="tooltip" title="模拟的地球上标注了全球众多广播电台，移动到相应的地区就会播放当地的电台节目，由于是国外的网站，亚洲的电台比较少" href="http://radio.garden/" target="_blank">全球广播</a></span><span><a class="tooltip" title="水滴图片隐写可以在图片中隐藏文字信息，并且不影响图片的显示，只有通过水滴（shuidi.im）才能解密出图片的内容。" href="http://www.shuidi.im/" target="_blank">图片秘密</a></span><span><a href="http://deepba.com/" target="_blank">装逼神器</a></span><span></span>生活</dd>
                                            <dd><span><a href="http://www.atool.org/" target="_blank">ATOOL</a></span><span><a class="tooltip" title="从PDF或者图像中提取文字，并以文档、表格或者纯文本格式输出，支持中文！" href="http://www.onlineocr.net/" target="_blank">OCR识别</a></span><span><a href="http://dwz.cn/" target="_blank">短网址</a></span><span><a href="http://cli.im/" target="_blank">二维码</a></span>其它</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="contentWrap wow">
                                    <div class="urlWrap">
                                        <dl class=hb>
                                            <dd class=bg><span><a href="http://canvasrider.com/" target="_blank">Canvas Rider</a></span><span><a href="http://play.ziyuantun.com/xiaoxiaole/index.html" target="_blank">迷阵</a></span><span><a href="http://raptjs.com/play/" target="_blank">RAPT</a></span><span><a href="http://play.ziyuantun.com/slither/index.html" target="_blank">最强贪吃蛇</a></span>游戏</dd>
                                            <dd class=bg><span><a class="tooltip" title="非常好玩的小游戏！你需要和朋友一起合作才能通关，特别是和路人一起玩的时候，你会深深感受到陌生人之间的信任！" href="http://brofist.io/" target="_blank">BROFIST</a></span><span><a class="tooltip" title="在IO系列里，只有你想不到的，没有他们做不到的。。。今天的这款游戏内容是互怼流星锤，只要找好节奏，你会玩得很爽！" href="http://zlap.io/" target="_blank">ZLAP</a></span><span></span><span><a class="tooltip" title="非常好玩的一款游戏，你的目标是通过不断扩张自己的领土，干掉对方的将军！游戏支持1V1、2V2和4人多人混战，不论哪个模式都相当激烈，推荐！" href="http://junqi.io/" target="_blank">将军棋</a></span></dd>
                                            <dd><span><a href="http://jandan.net/ooxx" target="_blank">煎蛋</a></span><span><a href="https://www.zhihu.com/topic/19552207/top-answers" target="_blank">知乎精华</a></span><span><a href="https://tuchong.com/tags/%E5%B0%91%E5%A5%B3/?order=new" target="_blank">图虫</a></span><span><a class="tooltip" title="日本双马尾协会由一名叫做古谷完的日本人设立的，其目的是为了向全世界宣传双马尾的魅力" href="http://twintail-japan.com/" target="_blank">双马尾协会</a></span>妹子</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div>
                                    <div class="container clearfix">
                                        <section class="main"></section>
                                        <footer>
                                            <a href="http://www.kebue.com/" target="_blank">科布尔</a>出品&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                            <a href="http://www.miibeian.gov.cn/" target="_blank">陕ICP备</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261990464'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1261990464%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
