<div id="nav">
    <ul id="skin-nav">
        <li><a href="http://kebue.com/" title="科布尔" class="logo"><img src="/Image/ico/xs-logo.png" /></a></li>
        <li><a href="~/Home/Nav1" title="老司机导航" target="_blank"><i style="color:#00A1D6" class="fa fa-star"></i> 老司机导航</a></li>
        <li><a onclick="OnClick2('Scholar')"><i style="color:#A262E8" class="fa fa-mortar-board"></i> 学术搜索</a></li>
        <li><a onclick="OnClick2('Data')"><i style="color:#F7B700" class="fa fa-cubes"></i> 数据搜索</a></li>
        <li><a onclick="OnClick2('Image')"><i style="color:#ED6D52" class="fa fa-picture-o"></i> 图搜</a></li>
        <li><a onclick="OnClick2('Magnet')"><i style="color:#52DBFC" class="fa fa-magnet"></i> 磁力搜索</a></li>
        <li><a onclick="OnClick2('Search')"><i style="color:#666666;" class="fa fa-flash"></i> 快搜 </a></li>
        <li id="skin">
            <i style="color:#23CF5F" class="fa fa-leaf"></i> 皮肤
            <ul id="skin-subnav">
                <li><a href="http://ww2.sinaimg.cn/large/b1601727gw1f0yog91237j205k05ka9z.jpg">默认</a></li>
                <li><a href="http://ww2.sinaimg.cn/large/b1601727gw1f0ypz5sqeog203k03kt8l.gif">流水</a></li>
                <li><a href="http://ww1.sinaimg.cn/large/b1601727gw1f0yog7wy6gj20go0goaar.jpg">晶体</a></li>
                <li><a href="http://ww4.sinaimg.cn/large/b1601727gw1f0yogbxosbj20e80e8ta1.jpg">木纹</a></li>
                <li><a href="http://ww2.sinaimg.cn/large/b1601727gw1f0yog9rt8jj20dw0afwg2.jpg">宣纸</a></li>
                <li><a href="http://ww3.sinaimg.cn/large/b1601727gw1f0ypz6et0vj205804jglg.jpg">爱心</a></li>
                <li><a href="http://ww1.sinaimg.cn/large/b1601727gw1f0ypz5y1g5g204102wa9z.gif">墙壁</a></li>
                <li><a href="http://ww1.sinaimg.cn/large/b1601727gw1f0yogc8nydj208c08c3yc.jpg">知识</a></li>
                <li><a href="http://ww4.sinaimg.cn/large/b1601727gw1f0yogacp89j20b40b7mxm.jpg">妖娆</a></li>
                <li><a href="~/Image/ico/grey.gif">纯灰</a></li>
                @*<li><a href="http://ww3.sinaimg.cn/mw690/b1601727gw1ezqpc5my4zj203k03k742.jpg">PixelWeave</a></li>
                    <li><a href="http://ww2.sinaimg.cn/large/b1601727gw1ezq65qnyfcj20go0goaar.jpg">CongruentPentagon</a></li>
                    <li><a href="http://ww3.sinaimg.cn/large/b1601727gw1ezq65rn8arj209q09q3yu.jpg">retina_wood</a></li>
                    <li><a href="http://ww2.sinaimg.cn/large/b1601727gw1ezqpc1fkp7j202s02rmwx.jpg">batthern</a></li>
                    <li><a href="http://ww2.sinaimg.cn/large/b1601727gw1ezqpc1rghbj206403ugli.jpg">brickwall</a></li>
                    <li><a href="http://ww1.sinaimg.cn/large/b1601727gw1ezqpc237v0j201v02s0rd.jpg">cubes</a></li>
                    <li><a href="http://ww2.sinaimg.cn/large/b1601727gw1ezqpc38d02j202804gweb.jpg">graphy</a></li>
                    <li><a href="http://ww2.sinaimg.cn/mw690/b1601727gw1ezqpc3kal5j20m20hwq4t.jpg">grey</a></li>
                    <li><a href="http://ww3.sinaimg.cn/mw690/b1601727gw1ezqpc4vz82j208c08cjs2.jpg">leather</a></li>
                    <li><a href="http://ww3.sinaimg.cn/mw690/b1601727gw1ezqpc5b696j206y06ydft.jpg">NiceSnow</a></li>
                    <li><a href="http://ww3.sinaimg.cn/mw690/b1601727gw1ezqpc64uezj20ar05lq3b.jpg">ravenna</a></li>*@
            </ul>
        </li>
        <li><i class="fa fa-exchange"></i>&nbsp;<a id="translateLink"></a></li>
        <li>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><iframe width="350" scrolling="no" height="25" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&amp;id=40&amp;icon=1&amp;num=3"></iframe></li>
        <li>  <a href="http://www.msdn.hk/">微软下载</a></li>
     </ul>
</div>

<script type="text/javascript">
    function OnClick2(action) {
        $("#iframe_nav").attr('src', "/IframePage/" + action);
        var parameter = "/Content/Ajax/HandlerServices.ashx?method=getload&parameter=" + action;
        $.getJSON(parameter, function (data) {
            document.title = data;
        });
    };
</script>

