@charset "utf-8";

* {
	margin: 0;
	padding: 0
}

html {
	position: relative;
	font-family: Arial,Helvetica,"微软雅黑",sans-serif!important;
	font-size: .9em;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 20px;
	display: block
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: bold;
	color: #666;
	text-rendering: optimizelegibility
}

h1 {
	font-size: 1.8em
}

h2 {
	font-size: 1.6em
}

h3 {
	font-size: 1.4em
}

h4 {
	font-size: 1.2em
}

h5 {
	font-size: 1.0em
}

h6 {
	font-size: .8em
}

a {
	color: #535353;
	text-decoration: none
}

dd a:hover {
	color: #4078c0;
}

img {
	border: 0!important
}

textarea {
	resize: none
}

.clearfix {
	clear: both
}

.container {
	position: relative;
	width: 1048px;
	margin-left: auto;
	margin-right: auto
}

.top_nav {
	position: relative;
	width: 100%;
	height: 27px;
	font-size: 12px;
	background-color: #f5f5f5;
	z-index: 999999
}

.top_wrap {
	width: 1048px;
	margin: 0 auto
}

.left {
	float: left;
	width: 430px;
	line-height: 25px;
	text-align: left
}

.right {
	float: right;
	width: 520px;
	line-height: 25px
}

.right img {
	position: relative;
	top: 2px
}

.search {
	position: relative;
	float: left;
	background-color: #f5f5f5;
	width: 975px;
	height: 60px;
	border-radius: 0 0 10px 10px;
	margin-top: -26px
}

.middle {
	width: 975px;
	margin: 10px auto 13px;
	overflow: hidden;
	z-index:-2;
}

.margin-around {
    margin-left: -20px;
    position: absolute;
}

#form1 {
	float: right;
	width: 620px;
	overflow: hidden;
}

.search input[type=text] {
	width: 500px;
	padding: 7px 9px 8px 7px;
	background-image: none;
	height: 20px;
	line-height: 20px;
	border: 2px solid #ccc;
	box-shadow: inset 2px 2px 8px rgba(0,0,0,.1)
}

.search input[type=text]:focus {
	border-color: #109bcd;
	outline: 0;
	box-shadow: inset 2px 2px 8px rgba(0,0,0,.3)
}

.search input[type=submit] {
	background-color: #23CF5F;
	width: 105px;
	height: 39px;
	font-size: 1.2em;
	cursor: pointer;
	text-transform: uppercase;
	border: 0;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.2));
	background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.2));
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	color: white;
	margin-left: -6px;
	position: absolute
}

.search input[type=submit]:hover {
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0))
}

.main {
	float: left;
	/*width: 728px;*/
	position: relative;
	top: 40px;
	margin-bottom: 62px;
}

.rightSide {
	float: right;
	width: 300px;
	height: 1802px;
	margin-top: 40px;
	z-index: -1;
}

.quotation {
	position: relative;
	margin-top: -15px;
	width:300px;
	height:200px;
	background-image:url(images/quotation.gif);
}

.quotation a {
    display: inline-block;
    margin: 160px 0 0 200px;
    height: 28px;
    color: #d1314a;
    line-height: 28px;
    padding: 0 10px;
    border: solid 1px #d1314a;
    border-radius: 3px;
    letter-spacing: 2px;
}

.quotation a:hover {
	color:#FFF;
	background-color:#d1314a;
}

.contentWrap {
	float: left;
	width: 728px;
	height: 300px;
	background: #F7F8FA;
}

.film {
	margin-top: 20px !important;
}

.eBook {
	margin-top: 20px !important;
}

.soft {
	margin-top: 20px !important;
}

.onlineTool {
	margin-top: 20px !important;
}

.source {
	margin-top: 20px !important;
}

.wow {
	margin-top: 20px !important;
}

.classify {
	float: left;
	width: 190px;
	height: 300px;
	position: relative;
}

.classify .title{
	font-size: 28px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
	margin-left:20px;
	font-family: "微软雅黑" !important;
}

.notes {
	float:left;
	width:730px;
	height:36px;
	background-color:#e6e5eb;
	position: relative;
	overflow:hidden;
}

.film .classify {
	background-image: url(./images/1.png);
	position: relative;
}

.eBook .classify {
	background-image: url(./images/2.png);
	position: relative;
}

.soft .classify {
	background-image: url(./images/3.png);
	position: relative;
}

.onlineTool .classify {
	background-image: url(./images/4.png);
	position: relative;
}

.source .classify {
	background-image: url(./images/5.png);
	position: relative;
}

.wow .classify {
	background-image: url(./images/6.png);
	position: relative;
}

.chongMusic {
    width: 300px;
    height: 81px;
    overflow: hidden;
}

#share{
	width:300px;
	height:550px;
	margin-top: 20px;
	overflow:hidden;
}

#weibo{
	margin:20px auto -5px;
}

#ad1{
	width:300px;
	height:250px;
	margin-top:20px;
	background-color:#E6E5EB;
}

#ad2{
	width:300px;
	height:600px;
	margin-top:20px;
	background-color:#E6E5EB;
}

#ad3{
	float:left;
	width:728px;
	height:90px;
	margin-top:20px;
    background-color:#E6E5EB;
}

footer {
	display: block;
	width: 100%;
	height:32px;
	line-height:32px;
	background-color:#F5F5F5;
	text-align: center;
	clear: both;
}

#google-search {
	top: 19px!important;
	left: 0;
	width: 100%
}

.isStuck {
	margin-top: 0;
	border-left-width: 0
}

/*banner start*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

#divSmallBox {
	overflow: hidden;
	*display: inline;
	*zoom: 1;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 10px;
	background: #ffffff;
}

#playBox {
	width: 728px;
	height: 266px;
	background: #333;
	position: relative;
	overflow: hidden;
}

#playBox .oUlplay {
	width: 99999px;
	position: absolute;
	left: 0;
	top: 0;
}

#playBox .oUlplay li {
	float: left;
}

#playBox .pre {
	cursor: pointer;
	width: 45px;
	height: 45px;
	background: url(./images/l.png) no-repeat;
	position: absolute;
	top: 100px;
	left: 10px;
	z-index: 10;
}

#playBox .next {
	cursor: pointer;
	width: 45px;
	height: 45px;
	background: url(./images/r.png) no-repeat;
	position: absolute;
	top: 100px;
	right: 10px;
	z-index: 10;
}

#playBox .smalltitle {
	width: 728px;
	height: 10px;
	position: absolute;
	bottom: 15px;
	z-index: 10
}

#playBox .smalltitle ul {
	width: 120px;
	margin: 0 auto;
}

#playBox .smalltitle ul li {
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 10px;
	background: #ffffff;
	float: left;
	overflow: hidden;
	*display: inline;
	*zoom: 1;
}

#playBox .smalltitle .thistitle {
	background: #69aaec;
}
/*banner end*/

/*scroll start*/
.ntitle {
    float: left;
    height: 36px;
    line-height: 36px;
    margin-left: 23px;
}
ul,li{margin:0;padding:0}
.scrollDiv{width:400px;height:36px;line-height:36px;overflow:hidden}
.scrollDiv li{height:36px;padding-left:10px;}
/*scroll end*/

/*urlWrap start*/
dl,dt,dd{list-style-type:none;margin:0;padding:0;background:#F7F8FA;font-size:14px;}
dl{margin:0 auto;width:100%;border:1px solid #F7F8FA;border-bottom:none;}
dt,dd{line-height:32px;padding:0 0 0 10px;border-bottom:1px solid #F7F8FA;height:32px;overflow:hidden}
dd{text-indent:1em;color:#3b67a0;}
.bg{background:#fff}
dt span,dd span{display:block;float:right;font-size:14px;border-left:1px solid #F7F8FA;text-indent:0em;width:110px;text-align:center;}
/*urlWrap end*/
